<body>
    <header>
        <h1>Gustavo<span> Flores </span></h1>
        <nav class="menu">
            <a href="/Inicio">Sobre mí</a>
            <a href="/Proyectos">Mis proyectos</a>
            <a href="/Formacion">Formación</a>
            <a href="/Contácto">Contactame</a>
        </nav>
    </header>

    <div id="card-area">
        <div class="wrapper">
            <div class="box-area">
                <div class="box">
                    <img src="assets/img/agua.jpg" alt="">
                    <div class="overlay">
                        <h3>Aqualogix</h3>
                        <p>Pagina web diseña con Angular 15, firebase y Bootstrap para hacer una bitacora que muestra lso litros de agua pagados y mucho más.</p>
                        <a href="#">Ver código</a>
                    </div>
                </div>
                <div class="box">
                    <img src="assets/img/MIMEC.jpg" alt="">
                    <div class="overlay">
                        <h3>MIMEC App</h3>
                        <p>Aplicación movil hecha para la gestion de talleres mecanicos trabajado en lenguaje kotlin, Xml y JS para el backend.</p>
                        <a href="https://github.com/GusDev071/Titulacion.git">Ver código</a>
                    </div>
                </div>
                <div class="box">
                    <img src="assets/img/valores.png" alt="">
                    <div class="overlay">
                        <h3>Pagina web de valores.</h3>
                        <p>Pagina web diseña con angular 16, firebase, Bootstrap, Material y más. esta es una red social que se manejo dentro de mi institucion para enseñar valores a los estudiantes de nuevo ingreso. </p>
                        <a href="https://github.com/GusDev071/valoresX.git">Ver código</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>