<body>
    <header>
        <h1>Gustavo<span> Flores </span></h1>
        <nav class="menu">
            <a href="/Inicio">Sobre mí</a>
            <a href="/Proyectos">Mis proyectos</a>
            <a href="/Formacion">Formación</a>
            <a href="/Contacto">Contáctame</a>
        </nav>
    </header>

    <section class="sobre_mi">
        <div class="text-box">
            <h1>¿Quien soy?</h1>
            <p>Soy un desarrollador full-stack con más de dos años de experiencia creando aplicaciones web y móviles. Domino Angular, React.js, TypeScript, Express y PostgreSQL. Especialista en UI/UX, diseño con Angular Material y Bootstrap, tambien he hecho
                wireframing en Adobe XD y Figma. Me apasiona crear interfaces intuitivas, optimizar sistemas y desarrollar soluciones escalables e innovadoras.</p>
            <button class="btn" type="button" routerLink="/Proyectos">Conoce sobre mi</button>
        </div>
        <img src="assets/img/Mi imagen.png" class="img" alt="">
    </section>
</body>