<body>
    <header>
        <h1>Gustavo<span> Flores </span></h1>
        <nav class="menu">
            <a href="/Inicio">Sobre mí</a>
            <a href="/Proyectos">Mis proyectos</a>
            <a href="/Formacion">Formación</a>
            <a href="/Contacto">Contáctame</a>
        </nav>
    </header>

    <div class="timeline-wrapper">

        <div class="timeline-row">

            <div class="timeline-col">
                <h2 class="heading">
                    <i class='bx bxs-graduation'></i> Educación
                </h2>

                <div class="timeline-box">

                    <div class="content-box">
                        <div class="date">
                            <i class='bx bxs-calendar'></i> 2016-2019
                        </div>

                        <h3>Preparatoria ofical 342</h3>

                        <p>Culmine mi bachillerato general.</p>
                    </div>
                    <div class="content-box">
                        <div class="date">
                            <i class='bx bxs-calendar'></i> 2019-2024
                        </div>

                        <h3>Tecnologico de estudios superiores chalco</h3>

                        <p>Termine mi carrera profecional en ingeniería en sistemas computaciones obtiendo mi titulo.</p>
                    </div>
                </div>
            </div>

            <div class="timeline-col">
                <h2 class="heading">
                    <i class='bx bxs-briefcase-alt-2'></i> Experiencia
                </h2>

                <div class="timeline-box">
                    <div class="content-box">
                        <div class="date">
                            <i class='bx bxs-calendar'></i> Abril 2024 - Pesente
                        </div>

                        <h3>Drai Telecom</h3>

                        <h4>Desarrollador Jr</h4>

                        <p>Creador y tester de software, creando GUI a equipoas para no utilizar el CLI, tambien diseñe programas utilizando Python, C# y Angular.</p>

                    </div>

                    <div class="content-box">
                        <div class="date">
                            <i class='bx bxs-calendar'></i> Agosto 2023 - Marzo 2024
                        </div>

                        <h3>Secaac transforma</h3>

                        <h4>Desarrollador Android</h4>

                        <p>Inicie mi carrera como desarrollador android, aprendiendo nuevas tecnologias.</p>

                    </div>

                    <div class="content-box">
                        <div class="date">
                            <i class='bx bxs-calendar'></i> Julio 2022 - Noviembre 2022
                        </div>

                        <h3>Smartgrid México</h3>

                        <h4>Becario Desarrollador web</h4>

                        <p>Desarrollador Fullstack Angular y React.js y diseñador de interfaces UI/UX y wireframes con Adobe XD y Figma. </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>